<!DOCTYPE html>
<html>
<head>
  <title>Photo Booth</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Photo Booth</h1>
  <button onclick="startGame()">Iniciar Juego</button>
  <script>
    function startGame() {
      window.location.href = '/camera';
    }
  </script>
</body>
</html>