<!DOCTYPE html>
<html>
<head>
  <title>Camera</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Camera</h1>
  <div>
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <video id="countdown" width="640" height="480" style="display:none; position: absolute; top: 0; left: 0;" autoplay></video>
  </div>
  <button id="snap">Tomar Foto</button>
  <script src="/js/script.js"></script>
</body>
</html>