<!DOCTYPE html>
<html>

<head>
  <title>Webcam Image Collage</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../public/css/style.css"/>
</head>

<body>
  <div>
    <label for="videoInputSelect">Elige una cámara:</label>
    <select id="videoInputSelect"></select>
    <button id="startButton">Seleccionar</button>
  </div>

  <div class="contentarea">
    <h1>Foto</h1>
    <p>
      text of the app
    </p>
    <div class="camera">
      <video id="video">Video stream not available.</video>
      <button id="startbutton">Take photo</button>
    </div>
    
    <canvas id="canvas"> </canvas>
    <div class="output">
      <img id="photo" alt="The screen capture will appear in this box." />

    </div>

    <div style="position: relative; left: 0; top: 0;">
      <img id="imgNoBg-cont" class='imgNoBg'/>
      <img id="Fondo-cont" src="../public/media/F.jpg" class="Fondo"/>
    </div>
  </div>
  <script src="../public/js/script.js" charset="utf-8"></script>
</body>

</html>


